// //Theme Icons
$products: (
  'private': "\e971",
  'group': "\e972",
  'package': "\eaae",
  );

// Colors
$color-primary: #E8A2A3; //pink
$color-secondary: #1F758C; //navy
$color-shade: #CFCFCF; //light grey
